* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(21, 21, 21);
    font-family: 'Poppins', sans-serif;
}

 h1 {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin-top:10%;
    margin-bottom: -10%;
}


main .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main .card-container {
display: flex;
justify-content: space-between;
column-gap: 5rem;
}

main .card-article {
    position: relative;
    margin: auto;
}

main .card-img {
    width: 320px;
    height: 250px;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px rgb(193, 193, 255);
    border: 2px solid  rgb(255, 255, 255);
}

main .card-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 1.5rem 1rem 1.5rem 1rem;
    background: #f3f6f9d5;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.473);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    opacity: 0;
    right: 0;
    left: 0;
    margin-inline: auto;
    transition: opacity 1s 1s;
}

main .description {
    display: block;
    font-size:13px;
    margin-bottom: 15px;
}

main .card-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
    color: rgb(55, 55, 81);
}

main .card-button {
    text-decoration: none;
    font-weight: 500;
            padding: .75rem 1.5rem;
    border-radius: .5rem;
    transition: .5s;
}

main .card-button.red {
    background: #f3f6f9a5;
    color: #c40000;
    border: 2px solid #c40000;
    box-shadow: 0 0 10px #c40000;
}

main .card-button.purple {
    background: #f3f6f9a5;
    color: #8d00c4;
    border: 2px solid #8d00c4;
    box-shadow: 0 0 10px #8d00c4;
}

main .card-button.orange {
    background: #f3f6f9a5;
    color: #ff7a06;
    border: 2px solid #ff9028;
    box-shadow: 0 0 10px #ff9028;
}

main .card-button.red:hover {
    background: #c40000;
    color: #f3f6f9;
    text-shadow:0px 0px 10px #ff2828;
    box-shadow: 0px 0px 10px #ff2828;
}

main .card-button.purple:hover {
    background: #8d00c4;
    color: #f3f6f9;
    text-shadow:0px 0px 10px #c228ff;
    box-shadow: 0px 0px 10px #c228ff;
}

main .card-button.orange:hover {
    background: #ff7a06;
    color: #f3f6f9;
    text-shadow:0px 0px 10px #ff9028;
    box-shadow: 0px 0px 10px #ff9028;
}

main .card-article:hover .card-data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity 0.5s 0.5s;
}

main .card-article:not(:hover) {
    animation: show-overflow 2s forwards;
}

main .card-article:not(:hover) .card-data {
    animation: show-overflow 2s forwards;
}

main .card-article:hover {
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    0% {
        bottom: -0.5rem;
        opacity: 0;
    }
    50% {
        bottom: 7rem;
        opacity: 1;
    }
    100% {
        bottom: 2.5rem;
        opacity: 1;
    }
}




@media screen and (max-width:2000px) {

    h1 {
        font-size: 2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #fff;
        text-align: center;
        margin-top:10%;
        margin-bottom: -10%;
    }
}